In [1]:
import numpy as np
import pandas as pd

### Indexaciónde dataframes

##### La indexación nos permite seleccionar valores de una Serio o Dataframe

In [2]:
# Creamos una lista con los números pares del o al 20
serie_pares = [x for x in range(20) if (x % 2)==0]
serie_pares

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [4]:
# Accedemos al valor en la posición [5] de la lista
serie_pares[5]

10

In [5]:
# Accedemos a las cuatro primeras posiciones de la lista, desde la 0 hasta la anterior a la 5
serie_pares[0:5]

[0, 2, 4, 6, 8]

In [6]:
# Accedemos a la última posición de la lista
serie_pares[-1]

18

In [7]:
# Accedemos desde la posición 3 hasta la última
serie_pares[3:]

[6, 8, 10, 12, 14, 16, 18]

In [8]:
# Creamos un DataFrame con números pares e impares
numeros = pd.DataFrame({
    "pares": list(range(0, 20, 2))
    ,"impares": list(range(1, 20, 2))
})
numeros

   pares  impares
0      0        1
1      2        3
2      4        5
3      6        7
4      8        9
5     10       11
6     12       13
7     14       15
8     16       17
9     18       19

In [13]:
# Indexación mediante clave
numeros.pares

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
Name: pares, dtype: int64

In [14]:
# Indexación directa
numeros["pares"]

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
Name: pares, dtype: int64

In [15]:
# Indexación directa imprimiendo el nombre de la columna
numeros[["pares"]]

   pares
0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18

#### Indexación mediante el método .loc[]
##### Con el método .loc podemos seleccionar una fila, una columna, un valor o unr ango de valores usando claves

In [16]:
dataframe = pd.DataFrame(np.arange(16).reshape(4, 4),
                         index=["f1","f2","f3","f4",],
                         columns=["c1","c2","c3","c4",])
dataframe

    c1  c2  c3  c4
f1   0   1   2   3
f2   4   5   6   7
f3   8   9  10  11
f4  12  13  14  15

In [17]:
# Accedemos al la fila f1
dataframe.loc["f1"]

c1    0
c2    1
c3    2
c4    3
Name: f1, dtype: int64

In [27]:
# Si sustituimos una de las etiquetas por dos puntos, supone seleccionar todos los elementos de ese eje
dataframe.loc[:, "c2"]

f1     1
f2     5
f3     9
f4    13
Name: c2, dtype: int64

In [25]:
# Podemos extraer un único valor usando las etiquetas de fila y columna, en éste orden
dataframe.loc["f3", "c4"]

11

##### Con el método iloc[] indexamos usando enteros