In [1]:
import numpy as np

import pandas as pd

### DATAFRAMES

##### Crear un DataFrame con un diccionario

In [2]:
futbolistas_dict = {
    "Players" : ["Liones Messi", "Cristiano Ronaldo"]
    ,"Goals" : [37, 45]
    ,"Years" : [36, 39]
}
df_futbolistas = pd.DataFrame(futbolistas_dict)
df_futbolistas

             Players  Goals  Years
0       Liones Messi     37     36
1  Cristiano Ronaldo     45     39

##### Crear un DataFrame usado un lista de diccionarios

In [3]:
futbolistas_list = [
    {"player": "Lionel Messi", "goals": 37, "years": 36},
    {"player": "Cristiano Ronaldo", "goals": 45, "years": 39}
]
df_futbolistas_list = pd.DataFrame(futbolistas_list)
df_futbolistas_list

              player  goals  years
0       Lionel Messi     37     36
1  Cristiano Ronaldo     45     39

##### Crear un DataFrame usando listas

In [4]:
player =["Lionel Messi", "Cristiano Ronaldo"]
goal = [37, 45]
year = [36, 39]
futbol_list = pd.DataFrame()
futbol_list["Players"] = player
futbol_list["Goals"] = goal
futbol_list["Years"] = year
print(futbol_list)

             Players  Goals  Years
0       Lionel Messi     37     36
1  Cristiano Ronaldo     45     39

##### Se puede crear un DataFrame sin valores

In [5]:
futbol = pd.DataFrame(columns=["Par", "Impar"])
futbol

Empty DataFrame
Columns: [Par, Impar]
Index: []

##### Se puede crear un DataFrame usando un Loop

In [6]:
lista_pares = []
lista_impares = []

for i in range(5):
    lista_pares.append(2*i)
    lista_impares.append(2*i+1)

numeros = pd.DataFrame()
numeros["Pares"]= lista_pares
numeros["Impares"]= lista_impares

numeros

   Pares  Impares
0      0        1
1      2        3
2      4        5
3      6        7
4      8        9

In [7]:
numeros.columns= ['Pepe', 'Antonio']
print(numeros)
numeros.columns= ['Pares', 'Impares']

   Pepe  Antonio
0     0        1
1     2        3
2     4        5
3     6        7
4     8        9

##### Para leer un fichero .cvs usamos el método pd.read_cvs()

In [8]:
footbal_stats = pd.read_csv("./data/Fullmetadata.cvs", index_col="player_id")
footbal_stats.head()

,player_name,games,time,goals,shots,key_passes,yellow_cards,red_cards,position,team_name
player_id,,,,,,,,,,
8865,Ollie Watkins,9,810,6,22,12,0,0,F,Aston Villa
675,Jack Grealish,9,810,5,26,26,2,0,F M,Aston Villa
592,Ross Barkley,6,454,2,17,15,0,0,M,Aston Villa
1024,Tyrone Mings,9,810,2,7,2,2,0,D,Aston Villa
7726,Ezri Konsa Ngoyo,9,810,2,7,0,0,0,D,Aston Villa

In [9]:
footbal_stats.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18633 entries, 8865 to 4363
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player_name   18633 non-null  object
 1   games         18633 non-null  int64
 2   time          18633 non-null  int64
 3   goals         18633 non-null  int64
 4   shots         18633 non-null  int64
 5   key_passes    18633 non-null  int64
 6   yellow_cards  18633 non-null  int64
 7   red_cards     18633 non-null  int64
 8   position      18633 non-null  object
 9   team_name     18633 non-null  object
dtypes: int64(7), object(3)
memory usage: 1.6+ MB

In [10]:
# shape devuelve la dimension del dataframe [filas, columnas]
footbal_stats.shape

(18633, 10)

In [11]:
# El método describe, devuelve un dataframe con información estadística de los datos del Dataframe 
footbal_stats.describe()

,games,time,goals,shots,key_passes,yellow_cards,red_cards
count,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000
mean,17.072291,1207.483282,1.624054,15.323888,11.354801,2.453979,0.127569
std,11.375527,975.753086,3.252418,20.934645,15.065863,2.685745,0.370656
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000000,326.000000,0.000000,1.000000,1.000000,0.000000,0.000000
50%,16.000000,976.000000,0.000000,8.000000,5.000000,2.000000,0.000000
75%,27.000000,2004.000000,2.000000,21.000000,16.000000,4.000000,0.000000
max,38.000000,3420.000000,48.000000,227.000000,146.000000,17.000000,5.000000

In [12]:
# Se puede recuperar el índice de la fila
footbal_stats.index

Index([8865,  675,  592, 1024, 7726, 7721, 7723,  695,  884, 1053,
       ...
       4231, 4256, 4257, 4259, 4260, 4267, 4268, 4311, 4334, 4363],
      dtype='int64', name='player_id', length=18633)

In [13]:
# Se puede recuperar el nombre de las columnas
footbal_stats.columns

Index(['player_name', 'games', 'time', 'goals', 'shots', 'key_passes',
       'yellow_cards', 'red_cards', 'position', 'team_name'],
      dtype='object')

In [14]:
# Se pueden recuperar los valores
footbal_stats.values

array([['Ollie Watkins', 9, 810, ..., 0, 'F', 'Aston Villa'],
       ['Jack Grealish', 9, 810, ..., 0, 'F M', 'Aston Villa'],
       ['Ross Barkley', 6, 454, ..., 0, 'M', 'Aston Villa'],
       ...,
       ['Idir Ouali', 6, 296, ..., 0, 'M S', 'Paderborn'],
       ['Mirnes Pepic', 2, 20, ..., 0, 'S', 'Paderborn'],
       ['Thomas Bertels', 1, 3, ..., 0, 'S', 'Paderborn']], dtype=object)

### Ordenar DataFrames

In [15]:
# ordenarpor índice de filas
footbal_stats.sort_index()

,player_name,games,time,goals,shots,key_passes,yellow_cards,red_cards,position,team_name
player_id,,,,,,,,,,
1,Christian Mathenia,33,2970,0,0,5,3,0,GK,Darmstadt
1,Christian Mathenia,24,2160,0,0,1,2,0,GK,Hamburger SV
1,Christian Mathenia,22,1933,0,0,1,2,0,GK,Nuernberg
1,Christian Mathenia,14,1260,0,0,1,1,0,GK,Hamburger SV
2,György Garics,21,1796,0,3,3,8,0,D S,Darmstadt
...,...,...,...,...,...,...,...,...,...,...
9161,Jan-Luca Schuler,1,8,0,1,0,0,0,S,Schalke 04
9163,Kean Bryan,2,155,0,0,1,0,0,D,Sheffield United
9170,John Finn,1,4,0,0,0,0,0,S,Getafe
9174,Edgar Sevikyan,1,5,0,0,0,0,0,S,Levante
9177,Giuseppe Mastinu,1,1,0,0,0,0,0,S,Spezia

In [16]:
# ordenar por índice de columnas
footbal_stats.sort_index(axis=1)

,games,goals,key_passes,player_name,position,red_cards,shots,team_name,time,yellow_cards
player_id,,,,,,,,,,
8865,9,6,12,Ollie Watkins,F,0,22,Aston Villa,810,0
675,9,5,26,Jack Grealish,F M,0,26,Aston Villa,810,2
592,6,2,15,Ross Barkley,M,0,17,Aston Villa,454,0
1024,9,2,2,Tyrone Mings,D,0,7,Aston Villa,810,2
7726,9,2,0,Ezri Konsa Ngoyo,D,0,7,Aston Villa,810,0
...,...,...,...,...,...,...,...,...,...,...
4267,10,0,5,Florian Hartherz,D S,1,1,Paderborn,775,1
4268,22,0,3,Christian Strohdiek,D S,0,6,Paderborn,1608,2
4311,6,0,1,Idir Ouali,M S,0,4,Paderborn,296,1
4334,2,0,0,Mirnes Pepic,S,0,0,Paderborn,20,0
4363,1,0,0,Thomas Bertels,S,0,0,Paderborn,3,0

In [23]:
# Ahora vamos a ordenar por los valores de la columna team_name en orden descendente
footbal_stats.sort_values(by="team_name", ascending=False)

,player_name,games,time,goals,shots,key_passes,yellow_cards,red_cards,position,team_name
player_id,,,,,,,,,,
6851,Conor Coady,10,900,0,0,1,2,0,D,Wolverhampton Wanderers
787,Ryan Bennett,11,606,0,1,2,2,0,D S,Wolverhampton Wanderers
6849,Rui Patrício,37,3330,0,0,0,0,0,GK,Wolverhampton Wanderers
6851,Conor Coady,38,3420,0,0,2,5,0,D,Wolverhampton Wanderers
6855,Léo Bonatini,7,117,0,9,2,0,0,S,Wolverhampton Wanderers
...,...,...,...,...,...,...,...,...,...,...
2810,Salvatore Bocchetti,9,629,0,2,1,1,0,D S,AC Milan
3904,Gian Filippo Felicioli,1,5,0,0,0,0,0,S,AC Milan
3905,Alessandro Mastalli,1,13,0,1,0,0,0,S,AC Milan
3933,Davide Di Molfetta,1,1,0,0,0,0,0,S,AC Milan
2048,Antonio Nocerino,2,66,0,0,1,0,0,M S,AC Milan

In [21]:
footbal_stats.head(25)

,player_name,games,time,goals,shots,key_passes,yellow_cards,red_cards,position,team_name
player_id,,,,,,,,,,
8865,Ollie Watkins,9,810,6,22,12,0,0,F,Aston Villa
675,Jack Grealish,9,810,5,26,26,2,0,F M,Aston Villa
592,Ross Barkley,6,454,2,17,15,0,0,M,Aston Villa
1024,Tyrone Mings,9,810,2,7,2,2,0,D,Aston Villa
7726,Ezri Konsa Ngoyo,9,810,2,7,0,0,0,D,Aston Villa
7721,Conor Hourihane,4,236,1,5,5,0,0,M S,Aston Villa
7723,John McGinn,9,810,1,10,15,3,0,M,Aston Villa
695,Bertrand Traoré,7,147,0,5,2,0,0,M S,Aston Villa
884,Matt Targett,9,810,0,3,9,3,0,D,Aston Villa
1053,Keinan Davis,1,24,0,0,1,0,0,S,Aston Villa
1685,Ahmed Elmohamady,3,30,0,0,1,0,0,S,Aston Villa
4401,Emiliano Martinez,9,810,0,0,0,0,0,GK,Aston Villa
5612,Anwar El Ghazi,3,31,0,0,1,0,0,S,Aston Villa
6122,Douglas Luiz,9,789,0,8,8,2,0,M,Aston Villa
7722,Trézéguet,9,735,0,22,9,0,0,F M S,Aston Villa
8040,Marvelous Nakamba,2,8,0,1,0,1,0,S,Aston Villa
8864,Matthew Cash,9,780,0,2,6,4,0,D,Aston Villa
8941,Jacob Ramsey,1,9,0,0,0,0,0,S,Aston Villa
5555,Dominic Calvert-Lewin,11,973,11,36,7,1,0,F,Everton
2249,James Rodríguez,10,861,3,22,25,1,0,F,Everton
1653,Michael Keane,11,990,2,5,2,0,0,D,Everton
1726,Abdoulaye Doucouré,11,922,1,10,11,3,0,M,Everton
6026,Richarlison,8,642,1,25,10,1,1,F,Everton
6521,Yerry Mina,9,810,1,3,0,1,0,D,Everton
7063,Bernard,4,168,1,2,5,1,0,F S,Everton

In [24]:
# Así podemos ver todos los métodos que se pueden usar de un objeto
print([ m for m in dir(numeros) if not m.startswith('_')])

['Impares', 'Pares', 'T', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isetitem', 'isin', 'isna', 'isnull', 'items', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_orc', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs']