In [26]:
import numpy as np

import pandas as pd

##### Crea una serie de índices

In [27]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

##### Crea una serie con índices

In [28]:
serie2 = pd.Series ([0, 1, 2, 3, 4, 5, 6], index = ["a", "b", "c", "d", "e", "f", "g"], )
serie2

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

##### Con values obtenemos los valores y con index los índices

In [29]:
serie2.values

array([0, 1, 2, 3, 4, 5, 6])

In [30]:
serie2.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

In [31]:
dict = {
   "Manzanas" : 12234
   ,"Peras" : 54215
   ,"Naranjas" : 58749 
}

serie3 = pd.Series (dict)
serie3

Manzanas    12234
Peras       54215
Naranjas    58749
dtype: int64

# prueba

##### Seleccionamos elementos de una lista empleando el índice

In [32]:
# Un elemento
print (serie2["b"])
s[1]

1

3.0

In [33]:
# Varios elementos
print(serie2[["a", "c", "g"]])
print(s[0:4])

a    0
c    2
g    6
dtype: int64
0    1.0
1    3.0
2    5.0
3    NaN
dtype: float64

In [34]:
s>3

0    False
1    False
2     True
3    False
4     True
5     True
dtype: bool

In [35]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

##### Seleccionamos elementos empleando un índice booleano

In [36]:
mascara = (s>3)*-1+1
s[mascara>0]

0    1.0
1    3.0
3    NaN
dtype: float64

In [37]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

##### Operaciones con las series

In [38]:
# Aquí se multiplica por 2 cada elemento de la serie
2 * s

0     2.0
1     6.0
2    10.0
3     NaN
4    12.0
5    16.0
dtype: float64

In [39]:
print(s.mean())
np.mean(s)

4.6

4.6

In [43]:
"Peras" in serie3

False

##### Puedes cambiar los indices, si lo haces con todos

In [42]:
serie3
serie3.index = ["Kiwis", "Melocotones", "Mangos"]
serie3

Kiwis          12234
Melocotones    54215
Mangos         58749
dtype: int64

##### Se le puede asignar un nombre a una Serie o Dataframe.Es el Dataframe aparecerá como nombre de la columna

In [47]:
serie3.name = ("Frutas")
serie3

Kiwis          12234
Melocotones    54215
Mangos         58749
Name: Frutas, dtype: int64