In [23]:
import numpy as np

import pandas as pd

### DATAFRAMES

##### Crear un DataFrame con un diccionario

In [24]:
futbolistas_dict = {
    "Players" : ["Liones Messi", "Cristiano Ronaldo"]
    ,"Goals" : [37, 45]
    ,"Years" : [36, 39]
}
df_futbolistas = pd.DataFrame(futbolistas_dict)
df_futbolistas

             Players  Goals  Years
0       Liones Messi     37     36
1  Cristiano Ronaldo     45     39

##### Crear un DataFrame usado un lista de diccionarios

In [25]:
futbolistas_list = [
    {"player": "Lionel Messi", "goals": 37, "years": 36},
    {"player": "Cristiano Ronaldo", "goals": 45, "years": 39}
]
df_futbolistas_list = pd.DataFrame(futbolistas_list)
df_futbolistas_list

              player  goals  years
0       Lionel Messi     37     36
1  Cristiano Ronaldo     45     39

##### Crear un DataFrame usando listas

In [26]:
player =["Lionel Messi", "Cristiano Ronaldo"]
goal = [37, 45]
year = [36, 39]
futbol_list = pd.DataFrame()
futbol_list["Players"] = player
futbol_list["Goals"] = goal
futbol_list["Years"] = year
print(futbol_list)

             Players  Goals  Years
0       Lionel Messi     37     36
1  Cristiano Ronaldo     45     39

##### Se puede crear un DataFrame sin valores

In [27]:
futbol = pd.DataFrame(columns=["Par", "Impar"])
futbol

Empty DataFrame
Columns: [Par, Impar]
Index: []

##### Se puede crear un DataFrame usando un Loop

In [28]:
lista_pares = []
lista_impares = []

for i in range(5):
    lista_pares.append(2*i)
    lista_impares.append(2*i+1)

numeros = pd.DataFrame()
numeros["Pares"]= lista_pares
numeros["Impares"]= lista_impares

numeros

   Pares  Impares
0      0        1
1      2        3
2      4        5
3      6        7
4      8        9

In [29]:
numeros.columns= ['Pepe', 'Antonio']
print(numeros)
numeros.columns= ['Pares', 'Impares']

   Pepe  Antonio
0     0        1
1     2        3
2     4        5
3     6        7
4     8        9

##### Para leer un fichero .cvs usamos el m√©todo pd.read_cvs()

In [30]:
footbal_stats = pd.read_csv("./data/Fullmetadata.cvs", index_col="player_id")
footbal_stats.head()

,player_name,games,time,goals,shots,key_passes,yellow_cards,red_cards,position,team_name
player_id,,,,,,,,,,
8865,Ollie Watkins,9,810,6,22,12,0,0,F,Aston Villa
675,Jack Grealish,9,810,5,26,26,2,0,F M,Aston Villa
592,Ross Barkley,6,454,2,17,15,0,0,M,Aston Villa
1024,Tyrone Mings,9,810,2,7,2,2,0,D,Aston Villa
7726,Ezri Konsa Ngoyo,9,810,2,7,0,0,0,D,Aston Villa

In [31]:
footbal_stats.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18633 entries, 8865 to 4363
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player_name   18633 non-null  object
 1   games         18633 non-null  int64
 2   time          18633 non-null  int64
 3   goals         18633 non-null  int64
 4   shots         18633 non-null  int64
 5   key_passes    18633 non-null  int64
 6   yellow_cards  18633 non-null  int64
 7   red_cards     18633 non-null  int64
 8   position      18633 non-null  object
 9   team_name     18633 non-null  object
dtypes: int64(7), object(3)
memory usage: 1.6+ MB

In [32]:
# shape devuelve la dimension del dataframe [filas, columnas]
footbal_stats.shape

(18633, 10)

In [33]:
# El m√©todo describe, devuelve un dataframe con informaci√≥n estad√≠stica de los datos del Dataframe 
footbal_stats.describe()

,games,time,goals,shots,key_passes,yellow_cards,red_cards
count,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000
mean,17.072291,1207.483282,1.624054,15.323888,11.354801,2.453979,0.127569
std,11.375527,975.753086,3.252418,20.934645,15.065863,2.685745,0.370656
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000000,326.000000,0.000000,1.000000,1.000000,0.000000,0.000000
50%,16.000000,976.000000,0.000000,8.000000,5.000000,2.000000,0.000000
75%,27.000000,2004.000000,2.000000,21.000000,16.000000,4.000000,0.000000
max,38.000000,3420.000000,48.000000,227.000000,146.000000,17.000000,5.000000

In [38]:
# Se puede recuperar el √≠ndice de la fila
footbal_stats.index

Index([8865,  675,  592, 1024, 7726, 7721, 7723,  695,  884, 1053,
       ...
       4231, 4256, 4257, 4259, 4260, 4267, 4268, 4311, 4334, 4363],
      dtype='int64', name='player_id', length=18633)

In [35]:
# Se puede recuperar el nombre de las columnas
footbal_stats.columns

Index(['player_name', 'games', 'time', 'goals', 'shots', 'key_passes',
       'yellow_cards', 'red_cards', 'position', 'team_name'],
      dtype='object')

In [36]:
# Se pueden recuperar los valores
footbal_stats.values

array([['Ollie Watkins', 9, 810, ..., 0, 'F', 'Aston Villa'],
       ['Jack Grealish', 9, 810, ..., 0, 'F M', 'Aston Villa'],
       ['Ross Barkley', 6, 454, ..., 0, 'M', 'Aston Villa'],
       ...,
       ['Idir Ouali', 6, 296, ..., 0, 'M S', 'Paderborn'],
       ['Mirnes Pepic', 2, 20, ..., 0, 'S', 'Paderborn'],
       ['Thomas Bertels', 1, 3, ..., 0, 'S', 'Paderborn']], dtype=object)