In [1]:
import numpy as np

import pandas as pd

##### Crea una serie de índices

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

##### Crea una serie con índices

In [8]:
serie2 = pd.Series ([0, 1, 2, 3, 4, 5, 6], index = ["a", "b", "c", "d", "e", "f", "g"])
serie2

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

##### Con values obtenemos los valores y con index los índices

In [4]:
serie2.values

array([1, 2, 3, 4, 5, 6, 7])

In [5]:
serie2.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

In [13]:
dict = {
   "Manzanas" : 12234
   ,"Peras" : 54215
   ,"Naranjas" : 58749 
}

serie3 = pd.Series (dict)
serie3
serie2

Manzanas    12234
Peras       54215
Naranjas    58749
dtype: int64

##### Seleccionamos elementos de una lista empleando el índice

In [11]:
# Un elemento
print (serie2["b"])
s[1]

1

3.0

In [13]:
# Varios elementos
print (serie2[["a", "c", "g"]])
print (s[0:4])

a    0
c    2
g    6
dtype: int64
0    1.0
1    3.0
2    5.0
3    NaN
dtype: float64

##### Seleccionamos elementos empleando un índice booleano

In [15]:
s[s>3]

2    5.0
4    6.0
5    8.0
dtype: float64

##### Operaciones con las series

In [16]:
# Aquí se multiplica por 2 cada elemento de la serie
2 * s

0     2.0
1     6.0
2    10.0
3     NaN
4    12.0
5    16.0
dtype: float64

In [17]:
print(s.mean())

4.6